@font-face {
    font-family: 'Freesentation-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-7Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Freesentation-5Medium';
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    text-align: center;
    width: 100vw;
    background-color: #023E8A00;
    color: #FFFFFFAA;
    font-family: 'Freesentation-5Medium';
    line-height: 0.9em;
    top: 0;
    z-index: 999;
    transition: background-color 0.3s;
}

header.intransparent {
    background-color: #0e4569;
    color: #FFFFFF;
}

.witt {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.wit {
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content : space-evenly;
    align-content: space-around;
    align-items: center;
}

.header_ttl {
    font-size: 1.4em;
    font-family: 'Freesentation-9Black';
}

.header_sev {
    font-size: 1.2em;
}

article {
    color: black;
    font-size: 24px;
    padding: 15px;
    text-align: center;
}


.main {
    display: grid;
    place-items: center;
    align-items: start;
    align-content: start;
    margin-top: 20px;
}


.masthead {
    background: linear-gradient(135deg,#0077B6 0,#00B4D8 100%)/*,url(/images/masthead.jpg) 50% no-repeat*/;
    height: 65dvh;
    text-align: center;
    vertical-align: center;
    color: white;
    display: grid;
    place-items: center;
    align-items: center;
    align-content: center;
    
}

.masthead_ttl {
    font-family: 'RixInooAriDuriR', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px
}

.masthead_con {
    font-size: 25px
}

.article_ttl {
    font-family: 'Freesentation-7Bold';
    font-size: 50px
}

.article_sub {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: gray;
}

.article_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.article_con_con {
    flex-grow: 1;
    text-align: left;
    line-height: 1.5em;
    flex: 0 0 49%;
    word-break: keep-all;
    max-width: 49%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.article_con_longcon {
    flex-grow: 1;
    text-align: left;
    line-height: 1.5em;
    flex: 0 0 100%;
    word-break: keep-all;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}


.article_con_con img {
    width: 100%;
    height: auto;
}

.photo_desc {
    text-align: center;
    font-size: 17px; 
    color: grey;
    line-height: 1.2em;
}

#articles {
    width: 60vw;
    box-shadow: 5px 5px 5px 5px gray;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin: 40px 10px;
    border-radius: 30px;
    transition: border-radius 0.3s;
    background: linear-gradient(355deg,#ffffff 85%,#cde4f3 100%)
}

article.rounder {
    border-radius: 10px
}


/*
h1, h2, h3{
    
    margin: 0px, 20px, 0px, 20px;
    
    display: inline-block;
}
*/
