@font-face {
    font-family: 'Freesentation-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

header {
    background-color: #023E8A;
    color: #FFFFFF;
    font-family: 'Freesentation-5Medium';
    width: 'device-width';
}

.wit {
    width: '60%';
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content : space-evenly;
    align-content: space-around;
    align-items: center;
}

.header_ttl {
    font-size: 1.4em;
    font-family: 'Freesentation-9Black';
}

.header_sev {
    font-size: 1.2em;
}



/*
h1, h2, h3{
    
    margin: 0px, 20px, 0px, 20px;
    
    display: inline-block;
}
*/
